body {
    margin: 0;
}
#container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 2;
}
.collumn {
    height: 100vh;
    z-index: 3;
    background-color: rgb(1, 0, 0);
}
#sky {
    position: absolute;
    background-color:cornflowerblue;
    width: 100vw;
    height: 50vh;
}
#ground {
    position: absolute;
    background-color: darkgreen;
    width: 100vw;
    height: 50vh;
    top: 50vh;
}
#gun {
    position: absolute;
    width: 228px;
    height: 248px;
    left: calc(50vw - 114px);
    bottom: 0;
    z-index: 4;
    background-image: url(./assets/doodGUn.png);
}